@charset "UTF-8";

#top {margin-left:0px;
		width:100%;
		height: 55px;
		background:#fff;
		font-size: 20pt;
 background-image: url("background-grass.png");
 background-position: 90% 100%;
 background-repeat: repeat-x;
		}

#lewo {
		float:left;
		min-width: 133px;
		max-width: 215px;
		width: 20%;
		background:#fff;
		margin-right:2px;
		}


#prawo {
	  float:left;
		margin-left:0px;
		width:67%;
		min-height: 640px;
		padding:10px;
		background:#eee;
		}

.cyferki { color: white; background:#808080; padding-left: 10px; padding-right: 10px;}

#footnote {
	  float:left;
		margin-left:20%;
		width:67%;
		height: 35px;
		background:#fff;
		text-align: center;
		font-size: 9pt; color: Silver;
		}

body, .male, .bardzomale, h1, h2, h3, td {font-family: Verdana, Arial, Helvetica, sans-serif;}
body, td {font-size: 10pt; color: #000000;text-decoration: none;}

A:link, A:visited, A:hover { text-decoration: none;}
A:hover { text-decoration: none; color: White; background-color: #a7d940;}


h1 {  font-size: 18pt;}
.male  {  font-size: 9pt; color: Silver;}
.bardzomale {  font-size: 8pt;}
.szare { color: Silver;}
#wynikNr, #wynikWpt { font-size: 10pt; padding: 10px; margin: 7px; text-decoration: none}
.warning { color: #ff0000;}
.rozdzial, h2 { color: #000000; font-size: 13pt; padding-top:10px; padding-bottom:5px; border-bottom: 1px solid #000000; text-decoration: none;}

TABLE  {width: 100%; }
td {vertical-align: top;
	background-color: #eeeeee;
	padding-bottom: 3px;}
	td.white { background-color: #ffffff;	vertical-align: middle;}
	td.szarawe {background-color: #eaeaea; vertical-align: middle;}
	td.srodek {text-align: center; vertical-align: top;}

th {background-color: #cccccc;}

.heading1 {
		background-color: #e5e5e5;
		height:25px;
		vertical-align : middle;
		padding-left:5px; padding-right:5px;}
.heading1 img { vertical-align : middle; }
.tresc1 {padding-left:36px; padding-right:5px;}

.user {background-color: #e5e5e5;}
.nius {border-left: 10px solid  #a7d940; padding-left: 10px; background-color: #e5e5e5; font-weight: bold;}

ul li {padding-bottom: 10px;}

.obrazek { border:solid 1px silver; padding:5px;
	margin-right:10px; float:left; width:102px;
	height: 147px; font-size: 8pt;
	margin-bottom: 2px;}
#obrazek_box { margin-right: 10px; float: right;}
.gmapa { width: 100%; height: 400px;}

/* ---------------- menu ---------------- */
li img {vertical-align: middle;}
.greenmenu {border-left: 5px solid #a7d940;}
.innemenu {border-left: 5px solid #f6f6ff;}
/*.flagi {background-color: #eeeeee;}*/

ul.dropdown,ul.dropdown li,ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
 width: 95%;
}

ul.dropdown {
 position: relative;
 z-index: 197;
 float: left;
}

ul.dropdown li {
 float: left;
 line-height: 20px;
 vertical-align: middle;
 border-top: 1px solid #f6f6ff;
}

ul.dropdown li.hover, ul.dropdown li:hover {
 position: relative;
 z-index: 199;
 cursor: default;
}

ul.dropdown li:hover {
 color: inherit;
 cursor: default;
}

ul.dropdown ul {
/* rozwinięta lista */
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 198;
 width: 100%;
 padding-right: 2px;
 /* margin-left: 3px; /* odległość listy rozwinietej od menu po lewej */
 /* background-color: #dddddd;*/
 background-color: #ffffff;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}

ul.dropdown ul {
 top: 1px;
 left: 99%;
}
ul.dropdown li, .dir  {
 padding: 5px 5px;
 padding-left: 10px;
 padding-right: 0;
 border-width: 1px 1px 1px 0;
}
ul.dropdown *.dir {
 background-image: url("arrow-menu.png");
 background-position: 98% 50%;
 background-repeat: no-repeat;
}
ul.dropdown *.dir li {
margin-top: 1px; margin-bottom: 1px; /* obramowanie pozycji na rozwiniętej liście */
padding-left: 10px;

}